html {
    height: 100%;
    min-height: 100%;
}
body {
    color: white;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
h1 {
    font-style: bold;
    font-size: 66px;
    text-align: center;
}
.all {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.txt{
    font-size: 26px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
img {
    margin-left: 50px;
    border: 10px solid black;
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 350px;
}
footer {
    margin-top: auto;
}