@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Prompt:ital,wght@0,400;1,300&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secudaria: #B80000;

    --font-titulos: "Prompt", sans-serif;
    --font-txt: "Lato", sans-serif;
}

* {
    padding: 0;
    margin: 0;

}

body {
    background-image: url("https://i.pinimg.com/736x/22/ca/0d/22ca0d2cd767b7448849f31af1f43253.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}

h1 {
    font-family: var(--font-titulos);
    font-weight: 400;
    font-style: italic;
    font-size: 4rem;
}

.cabecalho {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 80px
}

.cabecalho__link {
    text-decoration: none;
    color: var(--cor-secudaria);
    font-family: var(--font-titulos);
    font-weight: 300;
    font-size: 2rem;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}


.all {
    padding: 5%;
    margin-top: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.txt {
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    font-family: var(--font-txt);
    font-size: 1.5rem;
}


img {
    border: 10px solid var(--cor-secudaria);
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 350px;
}
/* segunda pagagina */

.all2 {
    padding: 5%;
    margin-top: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.line1 {
    display: flex;
    width: auto;
    gap: 40px;
    align-items: center;
    font-family: var(--font-txt);
    font-size: 1.5rem;
}

.line2 {
    display: flex;
    width: auto;
    gap: 40px;
    align-items: center;
    font-family: var(--font-txt);
    font-size: 1.5rem;
}

.line3 {
    display: flex;
    width: auto;
    gap: 40px;
    align-items: center;
    font-family: var(--font-txt);
    font-size: 1.5rem;
}

.line4 {
    display: flex;
    width: auto;
    gap: 40px;
    align-items: center;
    font-family: var(--font-txt);
    font-size: 1.5rem;
}

.line5 {
    display: flex;
    width: auto;
    gap: 40px;
    align-items: center;
    font-family: var(--font-txt);
    font-size: 1.5rem;
}

.line6 {
    display: flex;
    width: auto;
    gap: 40px;
    align-items: center;
    font-family: var(--font-txt);
    font-size: 1.5rem;
}

.line7 {
    display: flex;
    width: auto;
    gap: 40px;
    align-items: center;
    font-family: var(--font-txt);
    font-size: 1.5rem;
}

.line8 {
    display: flex;
    width: auto;
    gap: 40px;
    align-items: center;
    font-family: var(--font-txt);
    font-size: 1.5rem;
}

/* terceira pagagina */

.membros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.image-container {
    position: relative;
    display: inline-block;
}

.hover-text {
    flex-direction: column;
    font-family: var(--font-txt);
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    opacity: 0;
    transition: opacity 0.3s;
    /* Smooth transition */
}

.image-container:hover .hover-text {
    opacity: 1;
}
/* Quarta pagagina */

.work {
    display: flex;
    justify-content: space-between;
}